<!DOCTYPE html>
<html ng-app='mobee'>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
  </head>

  <body>
    <header>
      <h1>Mobee</h1>
    </header>

    <div ng-controller='appController'>


      <form >
        <input class="enjoy-css" type="search" ng-change='findMovie()' ng-model='film'/>
      </form>
        <table ng-repeat = 'films in search ' >
          <th class='btn' ng-click='addToMovies(films.Title)'> {{ films.Title }} </th>
        </table>
      <br>
 
      <table>
        <th ng-repeat="movie in data.movies"  class='box' >
        <button class='delete' ng-click='deleteFromSelection(movie)'>mmmm Bye</button>
          <h2> {{ movie.Title }} </h2>
          <div> <img src="{{ movie.Poster }}" style="width:120px;height:200px;"> </div>
          <br>
          <div ng-show='rating == movie.imdbRating'> <img src="http://www.clipartbest.com/cliparts/aTq/oao/aTqoaoqpc.png" style="width:120px;height:40px;"></div>
          <h3> Rating : {{ movie.imdbRating }} </h3>
          <br>
          <h3> Genre: {{ movie.Genre }} </h3>
          <div>
            <a> {{ movie.Director }} </a>
            <br>
            <p> {{ movie.Plot }} </p>
            <br>
            <a> {{ movie.Year }} </a>
            <br>
            <a> {{ movie.Awards }} </a>
          </div>
        </th>
      </table>
    </div>

  </body>

  <script src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="app.js"></script>
</html>
