<div>

  <div id="main-header">
    <span>MoBee</span>
  </div>

  <div layout="row" >
    <div flex></div>
    <md-input-container class="md-icon-float md-block" flex="40" md-no-float>
      <label>Title</label>
      <md-icon ><i class="material-icons theaters">theaters</i></md-icon>
      <input class="enjoy-css"  ng-submit='findMovie()' ng-model='film'/>
    </md-input-container>
    <md-button class="btn md-primary md-hue-1" ng-click='findMovie()'>Submit</md-button>
    <div flex></div>
  </div>

  <div class='listElements'>
    <md-list layout-align="space-around center" >
      <md-list-item ng-repeat="films in search">
        <div ng-click='addToMovies(films.Title)'>
          <h3>{{ films.Title }}</h3>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list >
  </div>


  <div layout="row" layout-align="space-around left">
    <div ng-repeat="movie in data.movies"  class='box' >

      <md-card>

        <md-card-header>
          <md-button class="md-icon-button " aria-label="delete" ng-click='deleteFromSelection(movie)'>
            <i class="material-icons close">close</i>
          </md-button><br>
          <md-card-header-text>
            {{ movie.Title }}
          </md-card-header-text>
        </md-card-header>
        
        <md-card-actions layout="row" layout-align="center center">
            <div  ng-show='rating == movie.imdbRating'>    
            <i class="material-icons star">stars</i>        
            </div>
        </md-card-actions>

        <img ng-src="{{ movie.Poster }}" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{ movie.Director }}</span>
            <span class="md-subhead">Rating : {{ movie.imdbRating }}</span>
            <span class="md-subhead">Genre: {{ movie.Genre }}</span>
          </md-card-title-text>
        </md-card-title>

        <md-card-content>
          <p> {{ movie.Plot }} </p>
          <a> {{ movie.Year }} </a> <br>
          <a> {{ movie.Awards }} </a>
        </md-card-content>

      </md-card>
    </div>
  </div>
</div>
