h1{
  text-align: center;
  font-family: Arial;
  color: #CDDC39;
  text-decoration: none;
  margin: 0;
}

header{
  background-color: #00BCD4;
  height: 80px;
  padding-top: 30px
}

select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  background: #c9d1d6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 7px;
  padding: 12px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}

.box{
  width: 32%;
  top: 30px;
  right: 64%;
 }

 #discover-header {
  color: #35B1D0;
  font-size: 5em; 
  font-weight: 700; 
  text-align: center; 
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}


