body{
  background: -webkit-linear-gradient(top, #15b6b9 0%, #10ddc2 33%, #f5f5f5 82%, #fafafa 100%);
  font-family: 'Ubuntu', sans-serif;
}

h1{
  text-align: center;
  font-family: Arial;
  color: #CDDC39;
  text-decoration: none;
  margin: 0;
}

header{
  background-color: #00BCD4;
  height: 80px;
  padding-top: 30px
}

select {
  padding:3px;
  margin: 0;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

.listElements{
  position: absolute;
  margin-left: 30em;
  max-width: 30%;
  text-align: -webkit-center;
  background: #FAE5E5;
  border-radius: 20px
}

md-card md-card-header md-card-header-text{
  padding-top: 10px
}

.btn {
  height: 30px !important;
  color: #F57170 !important:;
}

.md-button.md-hue-1.md-primary {
    color: DimGrey;
}


.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 7px;
  padding: 12px;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: rgba(0,142,198,1);
  -o-text-overflow: clip;
  text-overflow: clip;
}

.box{
  width: 32%;
  top: 30px;
  right: 64%;
}

#main-header {
  color: #F57170;
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
  text-shadow: 1px 1px #DC6564
}

.md-card-image{
  width: 40%;
  align-self: center
}

.compareBtn {
  background-color:#109294;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:3px solid #0c7476;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:15px 15px;
  text-decoration:none;
  text-shadow:0px 1px 3px #2f6627;
  width: 200px;

}
.compareBtn:hover {
  background-color:#0E8385;
}

.material-icons.star{
  color:#ffc952;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.material-icons.close:hover {
  color:#ef5285;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
